body {
    margin: 0px !important;
    padding: 0px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    min-height: 70vh;
}

.nav-link {
    color: white !important;
}

.nav-item {
    margin-right: 1rem;
}

button, .btn {
    color: white !important;
    background-color: #4DA8DA;
    font-weight: bold;
    border: 1px transparent;
    border-radius: 15px;
    padding: .2rem .5rem .2rem .5rem;
    margin-top: .3em;
}

button:hover, .btn:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.bg-dark {
    background-color: #12232E !important;
}

.hero {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.gallery-img {
    background-position: center;
    background-size: cover;
}

.partners {
    padding: 2rem !important;
    margin-bottom: 3rem !important;
    color: white;
    background-color: #12232E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partner-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.partner-image {
    height: 200px;
    width: 200px;
    border: 1px transparent;
    border-radius: 200px;
    background-position: center;
    background-size: cover;
    margin: 1rem !important;
}

.benifits {
    padding: 1rem !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    color: #12232E;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.benifits-list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.benifit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-top: 1rem;
}

.benifit-icon {
    width: 50px;
    height: 50px;
}

footer {
    color: white;
    background-color: #12232E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem !important;
    margin-top: 3rem !important;
}

footer li {
    list-style: none;
}

footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    width: 50%;
    max-width: 500px;
    height: auto;
    color: white;
    background-color: #12232E;
    border: 2px transparent;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.form-input {
    color: #4DA8DA;
    background-color: transparent;
    border: 3px solid #4DA8DA;
    border-radius: 25px;
    padding: .5rem;
    margin: 1rem;
}

.half-input {
    width: 46%;
    margin-left: .01rem;
    margin-right: .01rem;
}

.search-bar {
    color: #4DA8DA;
    background-color: transparent;
    border: 2px solid #4DA8DA;
    border-radius: 25px;
    padding: .3rem;
    width: 100%;
    margin-top: .2rem;
}

.contributions-container {
    background-color: #4DA8DA;
    padding: 1rem;
    border: 1px transparent;
    border-radius: 25px;
    color: black;
}

.contributions-container > div > h2 {
    font-size: 1.4rem;
    margin-left: 1rem;
}

.contribution-label {
    font-size: 1.1rem;
    font-weight: normal;
}

.contribution-amount {
    font-size: 2rem;
    font-weight: bold;
}

.recent-donations {
    gap: .5rem;
    justify-content: center;
}

.recent-donation {
    background-color: #c4c4c4;
    border: 1px transparent;
    border-radius: 25px;
    max-width: 350px;
    height: 350px;
}

.recent-donation h3 {
    font-size: 1.2rem;
}

.recent-donation-amount {
    font-size: 1.2rem;
    font-weight: medium;
    color: #4DA8DA;
}

.recent-donation h4 {
    font-size: 1.2rem;
}

.recent-donation-impact {
    font-size: 1rem;
    font-weight: light;
}

em {
    color: #4DA8DA;
    font-style: normal;
    font-weight: medium;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.small-input {
    width: 20%;
}

.charity-container {
    width: 50%;
    max-width: 700px;
    height: auto;
    color: white;
    background-color: #12232E;
    border: 2px transparent;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem !important;
}

.charity {
    background-color: #c4c4c4;
    border-radius: 25px;
    padding: 1rem;
    margin-top: .5rem;
}

@media only screen and (max-width: 1024px) {
    .form {
        width: 95%;
    }
    .charity-container {
        width: 95%;
    }
}