{% extends 'base.html' %}
{% block title %}<title>{{ charity.title }}</title>{% endblock %}
{% block content %}
    <nav class="navbar navbar-dark bg-dark align-items-baseline pb-0">
        <a class="navbar-brand" href="#">Charity Tracker</a>
        <ul class="d-flex flex-row align-items-baseline">
            <li class="nav-item">
                <a href="/dashboard/" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item">
                <a href="/charities/" class="nav-link">Charities</a>
            </li>
        </ul>
    </nav>
    <main class="w-100 d-flex flex-column align-items-center justify-content-center">
        <div class="mt-5 charity-container container d-flex flex-column align-items-center text-center">
            <div class="row">
                <h1>{{ charity.name }}</h1>
            </div>
            <div class="row text-left">
                <div class="col">
                    <div class="row d-flex flex-column mt-3 mb-3 align-items-center">
                        <img src='{{ charity.banner }}' height="200px" width="auto">
                    </div>
                    <div class="row d-flex flex-row align-items-baseline justify-content-between">
                        <h2>Description</h2>
                        <h2>${{ charity.dollar_per_impact }}/{{ charity.impact_per_dollar }}{{ charity.unit_of_impact }}</h2>
                    </div>
                    <div class="row">
                        <p>{{ charity.description }}</p>
                    </div>
                    <div class="row text-center">
                        <div class="container-fluid">
                            <div class="row">
                                <form class="col" action="/donate/" method="POST">
                                    <input type="hidden" name="charity" value={{ charity._id }}>
                                    <input type="hidden" name="amount" value="5">
                                    <button type="submit" style="padding: .75rem; border-radius: 25px; padding-left: 2rem; padding-right: 2rem;">$5</button>
                                </form>
                                <form class="col" action="/donate/" method="POST">
                                    <input type="hidden" name="charity" value={{ charity._id }}>
                                    <input type="hidden" name="amount" value="10">
                                    <button type="submit" style="padding: .75rem; border-radius: 25px; padding-left: 2rem; padding-right: 2rem;">$10</button>
                                </form>
                                <form class="col" action="/donate/" method="POST">
                                    <input type="hidden" name="charity" value={{ charity._id }}>
                                    <input type="hidden" name="user" value={{ user._id }}>
                                    <input type="hidden" name="amount" value="25">
                                    <button type="submit" style="padding: .75rem; border-radius: 25px; padding-left: 2rem; padding-right: 2rem;">$25</button>
                                </form>
                                <form class="col" action="/donate/" method="POST">
                                    <input type="hidden" name="charity" value={{ charity._id }}>
                                    <input type="hidden" name="amount" value="50">
                                    <button type="submit" style="padding: .75rem; border-radius: 25px; padding-left: 2rem; padding-right: 2rem;">$50</button>
                                </form>
                            </div>
                            <div class="row d-flex flex-column align-items-center">
                                <form action="/donate/" method="POST" class="d-flex flex-row align-items-center justify-content-center w-75 ml-5">
                                    <input type="hidden" name="charity" value={{ charity._id }}>
                                    <div class="col d-flex flex-row align-items-baseline">
                                        <input class="text-center form-input w-75 ml-auto" type="number" value="100" min="1" name="amount" id="custom-donation">
                                    </div>
                                    <div class="col text-left">
                                        <button type="submit" class="btn mb-1" style="padding: .75rem; padding-left: 2rem; padding-right: 2rem; border-radius: 25px;">Donate</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}