{% extends 'base.html' %}
{% block title %}<title>Register</title>{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark align-items-center pb-0">
        <a class="navbar-brand mb-2" href="/">Charity Tracker</a>
        <ul class="ml-auto d-flex flex-row align-items-center">
            <li class="nav-item">
                <a class="nav-link" href="/login/">Login</a>
            </li>
            <li class="nav-item">
                <a href="/register/" class="btn btn-primary">Get Started</a>
            </li>
        </ul>
    </nav>
    <main class="login" style="height: 75vh;">
        <form class="form" action="/register/" method="POST" enctype="multipart/form-data">
            <h2>Register</h2>
            <div class="row d-flex w-100 flex-row align-items-center justify-content-center">
                <input class="form-input half-input" required type="text" placeholder="first" name="first_name">
                <input class="form-input half-input" required type="text" placeholder="last"  name="last_name">
            </div>
            <div class="row w-100">
                <input class="form-input w-100" type="email" required placeholder="email" name="email">
            </div>
            <div class="row w-100">
                <input class="form-input w-100" type="password" required placeholder="password" name="password">
            </div>
            <div class="row">
                <input class="btn" type="submit">
            </div>
        </form>
    </main>
{% endblock %}